/* RESET RULES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}


ul, ol{
        /*margin: 0;padding: 0;*/
        list-style: none;
    }
    li {

        background: #469ccf;
        color: #fff;
        counter-increment: myCounter;
        margin: 0 0  5px 0;
        padding: 13px;
        position: relative;
        border-radius:  0em 40px 2em 0em;
        padding-left: 0.4em;
       font: 16px/1.5 sans-serif;

    }
     li:before{
        content: counter(myCounter, decimal-leading-zero);
        display: inline-block;
        text-align: center;
        font-size: 2em;
        line-height: 1.3em;
        background-color:  #48CFAD;
        padding: 3px;
        font-weight: bold;
        position: absolute; 
        top: 0;
        left: -40px;
        border-radius: 15%;
        font-family: exo;
    }


     li:nth-child(even){
        background-color: #501a78;
    }



button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}



.open-modal5 {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.55rem 0.55rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal5 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index:2;
}

.modal5.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal5-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal5-dialog > * {
  padding: 1rem;
}

.modal5-header,
.modal5-footer {
  background: #95ffd3;
}

.modal5-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 18px/1.5 sans-serif;

}

.modal5-header .close-modal5 {
  font-size: 1.5rem;
}

.modal5 p + p {
  margin-top: 1rem;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal5-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal5-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal5-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal5-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal5-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal5-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal5-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal5-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal5-dialog {
  -webkit-animation: mixInAnimations 2s 0.2s linear forwards;
          animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal5-dialog,
[data-animation="slideInOutTop"].is-visible .modal5-dialog,
[data-animation="slideInOutLeft"].is-visible .modal5-dialog,
[data-animation="slideInOutRight"].is-visible .modal5-dialog,
[data-animation="zoomInOut"].is-visible .modal5-dialog,
[data-animation="rotateInOutDown"].is-visible .modal5-dialog {
  transform: none;
}

@-webkit-keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


